/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff8e6;
    line-height: 1.6;
}

/* HEADER */
header {
    background: url("backround.jpg") no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: gold;
}

/* BANNER */
.banner {
    background: url("2.jpg") no-repeat center center/cover;
    color: rgb(205, 222, 22);
    text-align: center;
    padding: 80px 20px;
}

/* SECTION */
.section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.alt {
    background: #fff0f0;
}

h2 {
    color: #c2e612;
    margin-bottom: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* FORM */
form {
    max-width: 400px;
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #b30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #800000;
}

/* FOOTER */
footer {
    background: #b30000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
.card img {
    width: 100%;
    height: 150px;       /* chỉnh chiều cao theo ý bạn */
    object-fit: cover;   /* ảnh tự cắt cho vừa khung */
    border-radius: 8px;
    display: block;
}